body { padding-top: 20px; }

/* books.html */
#book-listing img { height: 130px; float: left; padding: 0 15px 5px 0; }
#book-listing p { max-height: 130px; text-overflow: ellipsis; }
div.book-description-wrapper { overflow: hidden; }


/* book-detail.hmtl */
#book-detail-form input#input-title { width: 375px; }
#book-detail-form input#input-author { width: 375px; }
#book-detail-form textarea#input-description { width: 450px; }
#book-detail-form img { width: 120px; margin-top: 10px; border: 1px solid #ccc; display: block; }


