<div data-navbar></div>
<div class="row">
  <form id="search-form" data-ng-submit="search(query)">
    <div class="control-group">
      <div class="controls">
        <div class="input-append">
          <input type="text" id="search-input" placeholder="Search by title or author" data-ng-model="query" />
          <span class="add-on" data-ng-click="searchIcon()">
          <i class="icon-search" data-ng-show="!showClear"></i>
          <i class="icon-remove-sign" data-ng-show="showClear"></i>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div id="book-listing" class="span12">
    <div data-ng-repeat="book in books" class="book-item">
      <div class="book-title-wrapper">
        <h4 class="title">{{book.title}}</h4>
        <h5 class="author">{{book.author}}</h5>
      </div>
      <div class="book-description-wrapper">
        <img data-ng-src="api/artwork/{{book.artwork}}">
        <p>{{book.description}}</p>
      </div>
      <hr>
    </div>
  </div>
</div>

