<form novalidate class="form-horizontal" name="loginForm" data-ng-submit="login(user)">
  <div class="control-group">
    <label class="control-label" for="inputUsername">Username</label>
    <div class="controls">
      <input type="text" id="inputUsername" class="input-large" data-ng-model="user.username" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" class="input-large" data-ng-model="user.password" required>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" data-ng-disabled="loginForm.$invalid">Login</button>
    </div>
  </div>
  <div class="control-group">
  	<div class="alert alert-error" data-ng-show="error">{{error}}</div>  
  </div>
</form>

