<div class="row well">
<form novalidate class="form-horizontal" id="signup-form" name="signupForm" data-ng-submit="signup(user)">
  <div class="control-group">
    <label class="control-label" for="input-fullname">Full Name</label>
    <div class="controls">
      <input type="text" id="input-fullname" class="input-large" data-ng-model="user.name" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="input-email">Email</label>
    <div class="controls">
      <input type="text" id="input-email" class="input-large" data-ng-model="user.email" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="input-password">Password</label>
    <div class="controls">
      <input type="password" id="input-password" class="input-large" data-ng-model="user.password" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="input-confirm">Confirm Password</label>
    <div class="controls">
      <input type="password" id="input-confirm" class="input-large" data-ng-model="user.confirm" required>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" data-ng-disabled="signupForm.$invalid">Sign up</button>
      <a type="button" class="btn" href="#/books">Cancel</a>
    </div>
  </div>
  <div class="control-group">
    <div class="alert alert-error" data-ng-show="error">{{error}}</div>
  </div>
</form>
</div>