/* books-list.html */

#book-listing {
  
  img { height: 130px; float: left; margin: 0 15px 5px 0; }
  p { max-height: 130px; }

  @media screen and (max-width: 480px) { 
    img { height: 100px; }
    p { max-height: 110px; }
  }
  
}

#search-form { 
  float: right;
  
  @media screen and (max-width: 480px) { 
    float: none; 
    padding-top: 10px;
  }
  
}

.book-title-wrapper {
  h4 { display: inline-block; }
  h5 { margin-top: 2px; }
  
  a { margin: 0 0 5px 0; }

  @media screen and (max-width: 480px) { 
    a { float: right; }
  }

}

.book-description-wrapper { 
  overflow: hidden; 
  img { border: 1px solid #ccc; }
  
}

